.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


  
.login-card {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  // .koizumiImgContainer{
  //   background-image: url("assets/img/koizumi.png");
  //   background-color: #ffffff;
  //   background-blend-mode: multiply;
  // }

  .login-form {
    display: flex;
    flex-direction: column;

    .mat-form-field {
      width: 100%;
      margin-bottom: 15px;

      input {
        width: 100%;
      }
    }

    button {
      margin-top: 10px;
    }

    .full-width {
      width: 100%;
    }
  }
}
  